h1 {
  position: relative;
  margin:10px;
  
  
}
h3{
  color:#ffffff;
  font-size: 40px;
  text-shadow : 
       2px  2px 1px #3b5249,
      -2px  2px 1px #3b5249,
       2px -2px 1px #3b5249,
      -2px -2px 1px #3b5249,
       2px  0px 1px #3b5249,
       0px  2px 1px #3b5249,
      -2px  0px 1px #3b5249,
       0px -2px 1px #3b5249;
}

.right-area {
  text-align: right;
  font-size: 110%;
  
  
}



.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color:#ffffff;
  
}

.alert {
  margin:0
}
.ai{
  margin-bottom:10em;
}

